<haed>
    <title>Ads: <%= controller.action_name %></title>
</haed>
<body>
<h1>MeBay</h1>
<ul id="new">
    <li><a href="/ads/">All Ads</a></li>
</ul>
<div id="content">
    <%= yield %>
</div>
</body>